<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <style>{{ include('@Twig/exception.css.twig') }}</style>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">{{ include('@Twig/images/symfony-logo.svg') }} Interview test - Jakub Luczynski</h1>

                <div class="help-link">
                    <a href="https://symfony.com/doc">
                        <span class="icon">{{ include('@Twig/images/icon-book.svg') }}</span>
                        <span class="hidden-xs-down">Symfony</span> Docs
                    </a>
                </div>

                <div class="help-link">
                    <a href="https://symfony.com/support">
                        <span class="icon">{{ include('@Twig/images/icon-support.svg') }}</span>
                        <span class="hidden-xs-down">Symfony</span> Support
                    </a>
                </div>
            </div>
        </header>

        <div class="container">
            <h1>This is main page of Interview test made by Jakub Luczynski</h1>
            <h2>Objective</h2>
            <p>Create a simple project to provide a RESTful API to manage categories for an e-commerce website.</p>
            <h2>Usage</h2>
            <p>Main URLs</p>
            <ul>
                <li>Site: `<a href="http://web.develop/">http://web.develop/</a>`</li>
                <li>PHPMyAdmin: `<a href="http://localhost:8080/" target="_blank">http://localhost:8080/</a>`</li>
                <li>Swagger: `<a href="http://web.develop/swagger" target="_blank">http://web.develop/swagger</a>`</li>
                <li>Code coverage: `<a href="http://web.develop/coverage/index.html" target="_blank">http://web.develop/coverage/index.html</a>` (please generate first with `make phpunit` on docker-php machine)</li>
            </ul>

            <p>Rest API Urls:</p>
            <ul>
                <li>GET `http://web.develop/api/tree`</li>
                <li>GET `http://web.develop/api/tree/{slug}`</li>
                <li>POST `http://web.develop/api/category`</li>
                <li>GET `http://web.develop/api/category/{slug}`</li>
                <li>GET `http://web.develop/api/category/id/{id}`</li>
                <li>PATCH `http://web.develop/api/category/id/{id}`</li>
            </ul>

            <p>You can test it with `Postman` or included `<a href="http://web.develop/swagger" target="_blank">Swagger</a>`.</p>
            <p>More info about body parameters are available on `<a href="http://web.develop/swagger" target="_blank">http://web.develop/swagger</a>`</p>

            <p>Clear cache on docker php machine `make clean`</p>

            <p>
                Display test code coverage: `<a href="http://web.develop/coverage/index.html" target="_blank">http://web.develop/coverage/index.html</a>`<br/>
                (works only after it was created with `make phpunit` on docker-php machine)
            </p>

            <h2>Testing environment</h2>
            <p>Just add `/app_dev.php/` to URLs, for example:</p>
            <p>`<a href="http://web.develop/app_dev.php/api/tree" target="_blank">http://web.develop/app_dev.php/api/tree</a>`</p>
        </div>

        {% block body %}{% endblock %}
        {{ include('@Twig/base_js.html.twig') }}
    </body>
</html>